[submodule "ton"]
	path = ton
	url = https://github.com/ton-blockchain/ton/
	branch = birydrad-testnet
[submodule "third-party/nlohmann-json"]
	path = third-party/nlohmann-json
	url = https://github.com/nlohmann/json
