# Required
COCOON_OWNER_ADDRESS=
COCOON_NODE_WALLET_KEY=

# Optional
# COCOON_VERBOSITY=3
# COCOON_PROXY_CONNECTIONS=1
# COCOON_HTTP_ACCESS_HASH=
# COCOON_HTTP_PORT=10000
# COCOON_ROUTER_POLICY=any
# COCOON_ROUTER_PORT=8116
# COCOON_CHECK_PROXY_HASHES=0
# COCOON_ROOT_CONTRACT_ADDRESS=EQCns7bYSp0igFvS1wpb5wsZjCKCV19MD5AVzI4EyxsnU73k
# COCOON_TON_CONFIG_URL=https://cocoon.org/resources/mainnet.cocoon.global.config.json
# COCOON_IS_TESTNET=false
# COCOON_MAX_COEFFICIENT=0
# COCOON_MAX_TOKENS=0
# COCOON_SECRET_STRING=
